.as-contact-section {
  min-height: 85vh;
}
.wp-site-blocks {
  > .wp-block-group {
    .gform_body {
      .gfield {
        label {
          font-size: $font-size-small;
          color: var(--wp--preset--color--primary);
        }
        select,
        textarea,
        input {
          border: 1px solid $light-grey;
          background-color: $light-grey;
          padding: 10px;
          min-height: 46px;
          font-size: 16px;
          color: var(--wp--preset--color--contrast);
          &:focus {
            box-shadow: none !important;
          }
        }

        select {
          padding-top: 4px;
          padding-bottom: 0;
        }
      }
    }
    .gform-theme--foundation .gform_footer {
      flex-direction: column;
      .gform_button {
        background-color: $black !important;
        &:focus {
          box-shadow: none !important;
        }
      }
    }
  }
}
