* {
  box-sizing: border-box;
}
:root :where(body) {
  line-height: 1.7 !important;
}

body * {
  letter-spacing: unset;
}
span.uagb-inline-editing {
  color: #000;
}
.wp-site-blocks {
  padding: 0;
}
.wp-block-post-content {
  padding-top: 0;
}
main#wp--skip-link--target {
  margin: 0;
}
h2,
h3,
h4,
h5,
h6 {
  margin: unset !important;
}

.entry-content {
  overflow: hidden;
}
body nav#quadmenu .es-woocommerce-categories .slick-track {
  width: 1600px !important;
}

main.wp-block-group {
  .entry-content {
    min-height: 100vh;
  }
}

nav#quadmenu.quadmenu-is-horizontal
  .quadmenu-navbar-nav
  > li.quadmenu-navbar-nav
  > .quadmenu-dropdown-menu
  > ul {
  min-height: 400px !important;
}

.uagb-block-8a9bf8ba.wp-block-uagb-image .wp-block-uagb-image__figure img {
  width: 100%;
}

.as-hero-white {
  align-items: flex-end;
}
.as-col-reves {
  .uagb-container-inner-blocks-wrap {
    @include breakpoint(xlarge) {
      flex-direction: column-reverse !important;
    }
  }
}
.wp-block-uagb-container.uagb-block-0bcadb14 {
  @include breakpoint(xlarge) {
    padding-top: 200px !important;
  }
}
.as-image-fullfit img {
  width: 100% !important;
  height: 400px !important;
}

.as-image-fullfit {
  overflow: hidden;
  height: 400px;
}

.as-hero-white h1,
.as-hero-white h2 {
  color: var(--wp--preset--color--white) !important;
}
.as-left-style-imag-home {
  min-height: 400px !important;
}

.as-left-style-imag-home .wp-block-cover__inner-container {
  max-width: 400px;
}

//as-commission-produtcs
.as-commission-produtcs {
  img {
    aspect-ratio: unset !important;
  }
}

//responsive class definitions
.as-mobile-center {
  @include breakpoint(xlarge) {
    text-align: center;
    display: flex !important;
    justify-content: center !important;
    align-items: center;
  }
}

.woocommerce-shop {
  header {
    div.wp-block-columns.as-header-row {
      padding: 0 !important;
    }
  }
}
.fit-page {
  min-height: 85vh !important;
}
