.wp-block-single-product-detail-tabs *{
    font-size:16px;
    line-height:1.6;
    text-align: justify;
}
.wp-block-single-product-detail-tabs .tab {
    font-size: 14px;
    font-weight: 400;
    color: #a9a9a9;
    text-decoration: none;
    border-bottom: 1px solid #a9a9a9;
}

.wp-block-single-product-detail-tabs .tab.active {
    color: #000000;
    border-bottom: 1px solid #000000;
}

.tab-links {
    display: flex;
    gap: 20px;
}


.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.tab-inner {
    max-height: 200px;
    overflow: hidden;
    margin-bottom: 30px;
    margin-top: 10px;
    padding-right: 15px;
}

.tab-inner.active {
    max-height: 100%;
    min-height: 300px;
    overflow-y: scroll;
    height: 300px;
}

.tab-readmore {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
}











