$breakpoints: (
  small: 0,
  mobile: 480px,
  wp-small: 600px,
  medium: 782px,
  large: 960px,
  xlarge: 1080px,
  xxlarge: 1140px,
  huge: 1280px,
  xhuge: 1700px,
  xxhuge: 1920px,
  unlimited: 9999px,
);

@mixin breakpoint($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: calc(#{map-get($breakpoints, $breakpoint)} - 1px)) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

@mixin breakpoint-max($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: calc(#{map-get($breakpoints, $breakpoint)} - 1px)) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

@mixin breakpoint-min-max($min, $max: unlimited) {
  @if map-has-key($breakpoints, $min) and map-has-key($breakpoints, $max) {
    @media (min-width: map-get($breakpoints, $min)) and (max-width: calc(#{map-get($breakpoints, $max)} - 1px)) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$min}` or .`#{$max}` "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

@mixin addPadding1440 {
  @include breakpoint(xhuge) {
    padding-left: 40px;
    padding-right: 40px;
  }
}
