.wp-block-campaign-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    column-gap: 25px;
    row-gap: 70px;
}

@media only screen and (max-width: 480px) {
    .wp-block-campaign-cards-wrapper {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

.campaign-content {
    /*border-left: 1px solid var(--wp--preset--color--foreground);*/
    /*border-right: 1px solid var(--wp--preset--color--foreground);*/
    /*border-bottom: 3px solid;*/
    /*padding: 15px;*/
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.campaign-image a {
    display: flex;
}

.campaign-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 3/2;
}

.campaign-heading h3 {
    font-weight: 300;
    font-style: italic;
    margin: 0;
    color: var(--wp--preset--color--light-black);
    transition: all .3s ease;
}

.campaign-heading h2:hover {
    color: inherit;
}

.campaign-categories a {
    font-size: 18px;
    font-weight: 600;
    color: var(--wp--preset--color--light-black);
    transition: all .3s ease;
}

.campaign-categories a:hover {
    color: inherit;
}

.campaign-content:after {
    z-index: 1 !important;
}

.campaign-container:hover .campaign-content * {
    z-index: 2;
    color: var(--wp--preset--color--white);
}

.campaign-container:hover .campaign-content:after {
    height: 100%;
}

.campaign-container:hover .campaign-image img {
    opacity: 1;
}

.page .campaign-heading {
    padding-top: 15px;
}