footer {
  margin-top: 0 !important;


  .gform_body {
    > .gform_fields {
      gap: 15px !important;
    }

    .gfield--type-email {
      grid-column: span 8 !important;
      @include breakpoint-max(wp-small) {
        width: 100%;
      }

      input {
        border: 1px solid transparent;
        border-bottom: 1px solid $black;
        background-color: $white;
        border-radius: 0 !important;
        min-height: 45px !important;
        height: 100%;
        box-shadow: none !important;
        background-color: transparent !important;

        &:focus {
          box-shadow: none !important;
          border: 1px solid black;
        }
      }
    }

    .gfield--type-submit {
      grid-column: span 4 !important;
      @include breakpoint-max(wp-small) {
        grid-column: span 2 !important;
      }

      input {
        @include button-small;
        text-transform: uppercase;
        border: 1px solid $tertiary;
        background-color: $tertiary;
        color: $white;
        line-height: 28px;
        transition: $transition;
        min-height: 45px !important;
        height: 100%;
        text-transform: uppercase !important;
        box-shadow: none !important;
        width: 100% !important;

        &:focus {
          box-shadow: none !important;
        }

        &:hover {
          background-color: $black;
        }
      }
    }

  }

  a:not(.wp-block-social-link-anchor) {
    text-decoration: none !important;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 1px;
      background-color: currentColor;
      transition-property: width;
      transition-duration: .3s;
      transition-timing-function: ease-in;
      bottom: 0;
      left: 0;
    }

    &:hover {
      &:after {
        width: 100%;
        transition-timing-function: ease-out;
      }

      color: $black;
    }
  }

  @include breakpoint-max(medium) {
    .wp-block-columns {
      row-gap: 40px;

      &:not(.is-not-stacked-on-mobile) > .wp-block-column {
        flex-basis: calc(50% - 8px) !important;
      }
    }
  }
}
