a.wp-block-navigation-item__content {
  text-decoration: none !important;
}
.home header {
  background-color: $light-grey;
}

header {
  border-bottom: 1px #cccccc solid;
}

.as-header-row {
  @include breakpoint-min-max(large, xhuge) {
    padding-left: var(--wp--preset--spacing--30) !important;
    padding-right: var(--wp--preset--spacing--30) !important;
  }
  @include addPadding1440;
  @include breakpoint(medium) {
    display: grid !important;
    grid-template-columns: 1fr 2fr;
  }

  .as-cal-menu {
    display: flex;
    display: flex;
    justify-content: center;
  }

  .wp-block-column.wp-block-column-is-layout-flow {
    @include breakpoint(medium) {
      width: 100% !important;
    }
    .wc-block-mini-cart__button {
    }
  }

  .as-logo {
    @include breakpoint(xlarge) {
      order: 1;

      display: flex;
      width: 100%;
      flex-basis: 100% !important;
    }
  }
  .as-min-cart {
    @include breakpoint(xlarge) {
      display: none;
    }
  }

  .as-nav-menu {
    @include breakpoint(xlarge) {
      order: 2;
    }
  }
  .as-icon-inst {
    @include breakpoint(xlarge) {
      display: none;
    }
  }
}
.as-icon-inst svg {
  margin-top: 5px;
}
.single.single-product .as-header-row {
  max-width: 1150px !important;
}
