a.wp-block-navigation-item__content {
  text-decoration: none !important;
}
.home header {
  background-color: $light-grey;
}

header {
  border-bottom: 1px #cccccc solid;
}

.as-header-row {
  .wp-block-group {
    .as-logo {
      @include breakpoint(xlarge) {
        order: 1;
        width: 60%;
        display: flex;
      }
    }
    .as-min-cart {
      @include breakpoint(xlarge) {
        display: none;
      }
    }

    .as-nav-menu {
      @include breakpoint(xlarge) {
        order: 2;
        width: 30%;
        display: flex;
      }
    }
    .as-icon-inst {
      @include breakpoint(xlarge) {
        display: none;
      }
    }
  }
}
