@mixin product-gallery-image {
  .wc-block-product-gallery-large-image__wrapper {
    height: 100%;

    .wc-block-product-gallery-large-image__image-element {
      width: 100%;
      height: 100%;

      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}

ul.wc-block-product-gallery-large-image__container {
  @include product-gallery-image;
}
.home {
  .wp-block-post-template {
    gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)) !important;
    @include breakpoint-max(xhuge) {
      gap: 3rem;
    }
  }
}
.single-product {
  .woocommerce.product {
    @include breakpoint-max(xhuge) {
      padding-left: 20px !important;
      padding-right: 20px;
    }
  }
}
// .as-products-home .wc-block-grid ul {
//   gap: 80px;

//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

//   .wc-block-components-product-image.wc-block-grid__product-image {
//     width: 100%;

//     img {
//       max-width: 100%;
//       width: 100%;
//     }
//   }

//   .wc-block-grid__product {
//     width: 100%;
//     max-width: 100%;
//     a.wc-block-components-product-name {
//       text-decoration: none;
//       font-size: medium;
//       color: $text-color;
//       font-weight: 400;
//     }
//     .wp-block-woocommerce-product-price {
//       display: none;
//     }
//     .wc-block-grid__product-add-to-cart {
//       display: none;
//     }
//   }
//   @include breakpoint-max(medium) {
//     gap: 30px;
//     grid-template-columns: repeat(1, minmax(0, 1fr));
//   }
//   @include breakpoint-max(xlarge) {
//     gap: 30px;
//     grid-template-columns: repeat(2, minmax(0, 1fr));
//   }
// }

.as-single-product-page {
  .wc-block-product-gallery-large-image__wrapper {
    aspect-ratio: unset !important;
  }
  .wc-block-product-gallery-large-image.wp-block-woocommerce-product-gallery-large-image {
    min-height: 600px;
    height: 65vh;
    .wc-block-product-gallery-large-image__image-element {
      display: flex;
      img {
        object-fit: cover;
        object-position: center;

        transform: translate(0, -19%) !important;
        aspect-ratio: 1 / 0;
        @include breakpoint-max(medium) {
          aspect-ratio: 1/1.2;
          transform: translate(0, 0) !important;
        }
      }
    }

    .wc-block-product-gallery-large-image__inner-blocks {
      > div {
        display: flex;
        align-items: center;
      }
    }
    // Usage:
    ul.wc-block-product-gallery-large-image__container {
      @include product-gallery-image;
    }
  }
  .wc-block-product-gallery-thumbnails.wp-block-woocommerce-product-gallery-thumbnails {
    gap: 40px;
    margin-top: 40px;
    .wc-block-product-gallery-thumbnails__thumbnail {
      width: auto;
      flex: 1 !important;
    }
  }
}

// body.archive {
//   div.wp-site-blocks {
//     div.as-products-shop-page {
//       min-height: 100vh;
//       max-width: $grid-container-wide;
//       margin: auto;
//       ul.products-block-post-template {
//         display: grid;
//         gap: 130px !important;
//         li {
//           border: none !important;
//           padding: 0;
//           .wc-block-components-product-image.wc-block-grid__product-image {
//             img {
//               aspect-ratio: 1 / 1;
//               aspect-ratio: 1;
//             }
//           }

//           h3 {
//             a {
//               text-decoration: none !important;
//               font-weight: 400;
//             }
//           }
//         }
//         grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
//         @include breakpoint-max(xlarge) {
//           gap: 30px !important;
//           grid-template-columns: repeat(2, minmax(0, 1fr));
//         }
//         @include breakpoint-max(medium) {
//           gap: 30px !important;
//           grid-template-columns: repeat(1, minmax(0, 1fr));
//         }
//       }
//     }
//   }
// }
.wc-block-product-gallery-large-image__image-element {
  padding: 0 !important;
}
.as-products-shop-page {
  ul.wc-block-grid__products {
    display: grid !important;
    gap: 80px 100px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)) !important;
    max-width: $grid-container-wide;
    margin: auto;
    // padding-left: var(--wp--preset--spacing--30);
    // padding-right: var(--wp--preset--spacing--30);

    @include breakpoint-max(xlarge) {
      gap: 30px !important;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @include breakpoint-max(medium) {
      gap: 30px !important;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      padding-left: var(--wp--preset--spacing--20);
      padding-right: var(--wp--preset--spacing--20);
    }
    li.wc-block-grid__product {
      padding: 0;
      max-width: 100%;
      border: 0 !important;
      a.wc-block-grid__product-link {
        width: 100%;
        text-decoration: none !important;
        .wc-block-grid__product-title {
          font-weight: 400;
          margin-bottom: 0;
        }

        .wc-block-grid__product-image {
          width: 100%;
          img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
            width: 100%;
          }
        }
      }
    }
  }
}

ul.as-products-shop-page {
  gap: 8px;

  grid-template-columns: repeat(
    auto-fit,
    minmax(400px, 1fr)
  ) !important; //Doto list:

  @include breakpoint-max(xlarge) {
    gap: 30px !important;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @include breakpoint-max(medium) {
    gap: 30px !important;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
