.wc-block-mini-cart__drawer h2.wc-block-mini-cart__title {
  color: $black;
  padding: $font-size-medium;
}
span.wc-block-mini-cart__badge {
  font-weight: 400;
  font-size: $font-size-xsmall !important;
}
