.wp-block-single-product-related-items,
.es-related-products{
    margin:0 !important;
}

.es-related-products ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 0;
    justify-content: center;
}

.es-related-products ul:before,
.es-related-products ul:after {
    display: none !important;
}
.related-product{
    padding: 16px;
    border: 1px solid transparent;
    transition: opacity .5s cubic-bezier(.4,.9,.3,1),color .5s cubic-bezier(.4,.9,.3,1),border-color .5s cubic-bezier(.4,.9,.3,1),background-color .5s cubic-bezier(.4,.9,.3,1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.related-product .es-product-description{
    display:none !important;
}

.related-product:hover{
    border-color:#D9D9D9;
}

.related-product a {
    text-decoration: none;
}

.related-product img{
    width: 100%;
    height: 229px;
    object-fit: cover;
    object-position: center;
}

.related-products-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.related-products-content h5 {
    color: #4A4949;
    font-size: 21px;
    line-height: 1.5 !important;
}

.related-products-content h5,
.related-products-content p {
    margin: 10px 0;
}

.related-product .wc-block-components-product-button{
    transition: opacity .5s cubic-bezier(.4,.9,.3,1),color .5s cubic-bezier(.4,.9,.3,1),border-color .5s cubic-bezier(.4,.9,.3,1),background-color .5s cubic-bezier(.4,.9,.3,1);
    opacity: 0;
    margin-top: auto;
}

.related-product:hover .wc-block-components-product-button{
    opacity: 1;
}

.es-product-description,
.es-product-price{
    font-size:18px !important;
    font-weight: lighter;
    line-height: 1.7;
    color:#4A4949 !important;
}