<!-- wp:template-part {"slug":"header","theme":"twenty-twenty-four-child","area":"header"} /-->
<!-- wp:group {"className":"as-products-shop-page","layout":{"type":"constrained","contentSize":"1600px"}} -->
<div class="wp-block-group as-products-shop-page">
  <!-- wp:woocommerce/store-notices /-->

  <!-- wp:template-part {"slug":"product","theme":"twenty-twenty-four-child"} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"twenty-twenty-four-child","area":"footer"} /-->
