<!-- wp:template-part {"slug":"header","theme":"twenty-twenty-four-child","area":"header"} /-->
<!-- wp:group {"className":"as-products-shop-page","style":{"spacing":{"padding":{"right":"0","left":"0","top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained","contentSize":"1633px"}} -->
<div
  class="wp-block-group as-products-shop-page"
  style="
    padding-top: var(--wp--preset--spacing--70);
    padding-right: 0;
    padding-bottom: var(--wp--preset--spacing--70);
    padding-left: 0;
  "
>
  <!-- wp:woocommerce/store-notices /-->

  <!-- wp:woocommerce/product-category {"rows":4,"contentVisibility":{"image":true,"title":true,"price":false,"rating":false,"button":false},"categories":[17],"className":"products-block-post-template"} /-->
</div>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"twenty-twenty-four-child","area":"footer"} /-->
