<!-- wp:template-part {"slug":"header","theme":"twenty-twenty-four-child","area":"header"} /-->
<!-- wp:group {"style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"0","bottom":"0","left":"var:preset|spacing|10","right":"var:preset|spacing|10"}}},"layout":{"inherit":true,"type":"constrained","contentSize":""}} -->
<div
  class="wp-block-group"
  style="
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-right: var(--wp--preset--spacing--10);
    padding-bottom: 0;
    padding-left: var(--wp--preset--spacing--10);
  "
>
  <!-- wp:woocommerce/product-gallery {"thumbnailsPosition":"bottom","thumbnailsNumberOfThumbnails":4,"pagerDisplayMode":"off","productGalleryClientId":"054c071e-2a19-4a89-9496-4cd69549d43f","cropImages":true} -->
  <div
    class="wp-block-woocommerce-product-gallery wc-block-product-gallery wc-block-product-gallery--has-next-previous-buttons-inside-image"
  >
    <!-- wp:group {"metadata":{"name":"Gallery Area"},"className":"as-single-product-page","style":{"spacing":{"blockGap":"var:preset|spacing|10"}},"layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"top","orientation":"vertical"}} -->
    <div class="wp-block-group as-single-product-page">
      <!-- wp:group {"lock":{"move":true,"remove":true},"metadata":{"name":"Large Image and Navigation"},"style":{"layout":{"selfStretch":"fixed","flexSize":"100%"},"dimensions":{"minHeight":""},"spacing":{"blockGap":"0","padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center","verticalAlignment":"top"}} -->
      <div
        class="wp-block-group"
        style="
          margin-top: 0;
          margin-bottom: 0;
          padding-top: 0;
          padding-right: 0;
          padding-bottom: 0;
          padding-left: 0;
        "
      >
        <!-- wp:woocommerce/product-gallery-large-image {"lock":{"move":false,"remove":false}} -->
        <div
          class="wp-block-woocommerce-product-gallery-large-image wc-block-product-gallery-large-image__inner-blocks"
        >
          <!-- wp:woocommerce/product-sale-badge {"isDescendentOfSingleProductTemplate":true,"align":"right","lock":{"move":false,"remove":false},"style":{"spacing":{"margin":{"top":"4px","right":"4px","bottom":"4px","left":"4px"}}}} /-->

          <!-- wp:woocommerce/product-gallery-large-image-next-previous {"lock":{"move":false,"remove":false},"layout":{"type":"flex","verticalAlignment":"bottom"}} -->
          <div
            class="wp-block-woocommerce-product-gallery-large-image-next-previous"
          ></div>
          <!-- /wp:woocommerce/product-gallery-large-image-next-previous -->
        </div>
        <!-- /wp:woocommerce/product-gallery-large-image -->

        <!-- wp:woocommerce/product-gallery-pager {"lock":{"move":false,"remove":false}} /-->
      </div>
      <!-- /wp:group -->

      <!-- wp:woocommerce/product-gallery-thumbnails {"lock":{"move":true,"remove":true}} /-->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:woocommerce/product-gallery -->

  <!-- wp:columns {"style":{"spacing":{"blockGap":{"left":"var:preset|spacing|40"},"margin":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"},"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60","left":"var:preset|spacing|60","right":"var:preset|spacing|60"}},"border":{"radius":"15px"},"color":{"background":"#f5f5f5"}}} -->
  <div
    class="wp-block-columns has-background"
    style="
      border-radius: 15px;
      background-color: #f5f5f5;
      margin-top: var(--wp--preset--spacing--70);
      margin-bottom: var(--wp--preset--spacing--70);
      padding-top: var(--wp--preset--spacing--60);
      padding-right: var(--wp--preset--spacing--60);
      padding-bottom: var(--wp--preset--spacing--60);
      padding-left: var(--wp--preset--spacing--60);
    "
  >
    <!-- wp:column {"width":"100%"} -->
    <div class="wp-block-column" style="flex-basis: 100%">
      <!-- wp:post-title {"level":1,"style":{"typography":{"fontStyle":"normal","fontWeight":"400","textTransform":"uppercase","fontSize":"30px"}},"textColor":"primary","__woocommerceNamespace":"woocommerce/product-query/product-title"} /-->

      <!-- wp:post-excerpt {"style":{"elements":{"link":{"color":{"text":"var:preset|color|headertext"}}}},"textColor":"headertext","__woocommerceNamespace":"woocommerce/product-collection/product-summary"} /-->

      <!-- wp:woocommerce/product-price {"isDescendentOfSingleProductTemplate":true,"className":"has-h-5-font-size","textColor":"black","fontFamily":"primary-font","fontSize":"h5","style":{"elements":{"link":{"color":{"text":"var:preset|color|black"}}},"typography":{"fontStyle":"normal","fontWeight":"700"}}} /-->

      <!-- wp:woocommerce/add-to-cart-form /-->
    </div>
    <!-- /wp:column -->
  </div>
  <!-- /wp:columns -->

  <!-- wp:group {"style":{"spacing":{"padding":{"bottom":"0","top":"50px","right":"0","left":"0"},"margin":{"top":"0","bottom":"0"},"blockGap":"0"}},"layout":{"type":"constrained"}} -->
  <div
    class="wp-block-group"
    style="
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 50px;
      padding-right: 0;
      padding-bottom: 0;
      padding-left: 0;
    "
  >
    <!-- wp:heading {"textAlign":"center","style":{"spacing":{"margin":{"top":"0","bottom":"24px"}},"typography":{"textTransform":"uppercase"}},"textColor":"primary","fontSize":"h4"} -->
    <h2
      class="wp-block-heading has-text-align-center has-primary-color has-text-color has-h-4-font-size"
      style="margin-top: 0; margin-bottom: 24px; text-transform: uppercase"
    >
      FEATURED ARTWORK
    </h2>
    <!-- /wp:heading -->
  </div>
  <!-- /wp:group -->

  <!-- wp:woocommerce/all-products {"columns":4,"rows":1,"alignButtons":false,"contentVisibility":{"orderBy":false},"orderby":"date","layoutConfig":[["woocommerce/product-image",{"imageSizing":"thumbnail"}],["woocommerce/product-title"],["woocommerce/product-price"],["woocommerce/product-rating"],["woocommerce/product-button"]],"className":"as-products-single"} -->
  <div
    class="wp-block-woocommerce-all-products wc-block-all-products as-products-single"
    data-attributes='{"UAGAnimationDelay":0,"UAGAnimationEasing":"ease","UAGAnimationRepeat":false,"UAGAnimationTime":400,"UAGAnimationType":"","UAGDay":[],"UAGHideDesktop":false,"UAGHideMob":false,"UAGHideTab":false,"UAGLoggedIn":false,"UAGLoggedOut":false,"UAGPosition":"","UAGResponsiveConditions":false,"UAGStickyLocation":"top","UAGStickyOffset":0,"UAGStickyRestricted":false,"alignButtons":false,"className":"as-products-single","columns":4,"contentVisibility":{"orderBy":false},"isPreview":false,"layoutConfig":[["woocommerce/product-image",{"imageSizing":"thumbnail"}],["woocommerce/product-title"],["woocommerce/product-price"],["woocommerce/product-rating"],["woocommerce/product-button"]],"orderby":"date","rows":1}'
  ></div>
  <!-- /wp:woocommerce/all-products -->
</div>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"twenty-twenty-four-child","area":"footer"} /-->
