.wp-block-single-product-info-box {
    display: flex;
    align-items: center;
    max-height: 380px;
    overflow: hidden;
    margin-top:0 !important;
}

.no-related-product{
    text-align:center;
    margin:0;
}
.wp-block-single-product-info-box.es-hidden{
    display:none;
    visibility:hidden;
}

.info-box-content {
    flex-basis: 50%;
    background: #F8F8F8;
    padding: 0 40px;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-box-content h2 {
    font-size: 20px;
    font-weight: 600;
}

.info-box-content p {
    margin-top: 0;
}

.info-box-content a {
    width:max-content;
    text-decoration:none;
    font-weight:400;
    transition:all .2s ease;
    position: relative;
    background-color: var(--wp--preset--color--transparent) !important;
    border: 0px solid #000 !important;
    border-radius: 0 !important;
    color: #000;
    min-height: unset !important;
    min-width: unset !important;
    padding: unset !important;
}

.info-box-content a:before {
    background: #12191d;
    bottom: 0;
    content: "";
    height: 1px;
    position: absolute;
    transform-origin: left;
    transition: all .5s ease-out;
    width: 100%;
}

.info-box-content a:hover {
    opacity: .6;
}

.info-box-content a:hover:before {
    transform: scaleX(0);
}

.info-box-img {
    flex-basis: 50%;
    max-height: 380px;
}

.info-box-img img {
    height: 380px !important;
    object-fit: cover;
    object-position: center;
}


@media  only screen and (max-width: 600px) {
    .wp-block-single-product-info-box{
        flex-direction: column-reverse;
        max-height: 100%;
    }

}