.custom-product-buttons {
  display: flex;
  gap: 10px;
}

.custom-product-buttons .button {
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;
  border: 2px solid var(--wp--preset--color--primary);
  min-width: 180px;
  text-align: center;
  background-color: var(--wp--preset--color--transparent);
  border-color: var(--wp--preset--color--primary);
  color: var(--wp--preset--color--primary);
}

.custom-product-buttons .button:hover {
  background-color: var(--wp--preset--color--secondary);
  color: var(--wp--preset--color--white);
  border-color: var(--wp--preset--color--secondary);
}

.custom-product-buttons .add_to_cart_button {
  background-color: var(--wp--preset--color--primary);
  color: var(--wp--preset--color--white);
}

.custom-product-buttons .add_to_cart_button:hover {
  background-color: var(--wp--preset--color--secondary);
  color: var(--wp--preset--color--white);
  border-color: var(--wp--preset--color--secondary);
}
